<div id="article-lookup">
    <%= form_tag search_articles_path, remote: true, method: :get, id: 'article-lookup-form' do %>
        <div class="form-group row no-padding text-center col-md-12">
            <div class="col-md-10">
                <%= text_field_tag :search_param, params[:search_param], placeholder: 'Search by Title or Tag',
                        autofocus: true, class: 'form-control search-box input-lg' %>
            </div>
            <div class="col-md-2">
                <%= button_tag(type: :submit, class: 'btn btn-xs btn-default') do %>
                <i class='fa fa-search'></i> Look up an article
                <% end %>
            </div>
        </div>
        <% end %>
    
    <%= render 'articles/spinner' %>
        <% if params[:search_param].blank? %>
           
        <% else %>
        <h3>Search Results</h3>
            <% if @articles.size > 0 %> 
            <div id="article-lookup-results" class="well results-block col-md-10">
                <table class="search-results-table col-md-12">
                    <tbody>
                        <% @articles.each do |article| %>
                        <tr>
                            <td><strong>Title:</strong> <%= article.title %></td>
                            <td><strong>Tags:</strong><%= article.tags %></td>
                            <td><strong><%= link_to "Read Post", article_path(article) %></strong></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table> 
            </div>
           <% else %>
            <p class="lead col-md-12">
                No posts meet this search criteria.
            </p>
            <% end %>
        <% end %>
            
<div id="article-lookup-errors"></div>
</div>