

<div id="show" class="sectionDiv">
<div class="sectionTitle"></div>
<hr class="sectionHR">
    <button>
        <%= link_to "Back to Blog", articles_path %> 
    </button>
    <br>
    <br>
     <div class ="">
                    <div class ="">
                        <div>
                            <h2><%= @article.title %></h2>
                            <%= @article.date %>
                            <div>
                                Tags: <%= @article.tags %> 
                            </div>
                            <div id="postArea"><pre id="postedBlog"><%= @article.description.html_safe%></pre></div>
                            <%= render 'editDelete' %>
                        </div>
                    </div>
        </div>

</div>

