

<div id="show" class="sectionDiv">
<div class="sectionTitle"></div>
<hr class="sectionHR">
    <button>
        <%= link_to "Back to Blog", articles_path %> 
    </button>
    <br>
    <br>
     <div class ="">
                    <div class ="">
                        <div>
                            <h4><%= @article.title %></h4>
                            <%= @article.date %>
                            <div>
                                Tags: <%= @article.tags %> 
                            </div>
                            <div id="postArea"><pre id="postedBlog"><%= @article.description%></pre></div>
                            <% if logged_in? && current_user == @article.user %>
                                <button>
                                    <%= link_to "Edit Post", edit_article_path %> 
                                </button>
                                <button>
                                    <%= link_to "Delete Post", article_path(@article), :method => :delete, data: {confirm: "Are you sure?"} %>
                               </button>
                            <% end %>
                        </div>
                    </div>
        </div>

</div>

