

<div id="show" class="sectionDiv">
<div class="sectionTitle"></div>
<hr class="sectionHR">
    <button class="btn btn-default">
        <%= link_to "Back to Blog", articles_path %> 
    </button>
    <br>
    <br>
     <div class ="">
                    <div class ="">
                        <div>
                            <h2><%= @article.title %></h2>
                            <%= @article.date %>
                            <hr class="showHR">
                            <div><%= simple_format(@article.description.html_safe) %></div>
                            <div>
                                Tags: <%= @article.tags %> 
                            </div><br>
                            <%= render 'editDelete' %>
                        </div>
                    </div>
        </div>

</div>

